@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Routes).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)">
                <NotAuthorized>
                    <Sorcha.UI.Web.Client.Components.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
                <div class="text-center" style="padding: 100px 20px;">
                    <h1>Page Not Found</h1>
                    <p>Sorry, we couldn't find that page.</p>
                    <a href="dashboard" class="btn btn-primary">Go to Dashboard</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
